﻿
/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

body {
  font-family: 'Nexa', sans-serif;
  background:;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nexa Light', sans-serif;
}

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.navbar-toggle {
  background-color: #333;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #FE980F;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}


/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #333;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.header_top .logo {
	padding-top:10px;
	padding-bottom:10px;}

.contactinfo ul li:first-child{
    margin-left: -15px;
	text-decoration:none;
}

.contactinfo ul li a{
  font-size: 14px;
  color: #d2ae6d;
  font-family: 'Nexa', sans-serif;
  padding-top:15px;
  text-decoration:none;
}


/*.contactinfo ul li a:hover{
	color:#FFF;
	background:none;
	text-decoration:none;}*/
	
.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #696763;
  padding:0px;
}


.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.header-middle .container .row {
  background:#333;
  margin-left: 0;
  margin-right: 0;
  margin-top:-60px;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}


.btn-group.open .dropdown-toggle {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.dropdown-menu  li  a:hover, .dropdown-menu  li  a:focus {
  background-color: #FE980F;
  color: #FFF;
  font-family: 'Nexa', sans-serif;
  text-decoration: none;
}


.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu {
	margin-top:15px;}

.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #d2ae6d;
	font-family: 'Nexa', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 0;
	padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
	color:#FFF;
}


/*  Dropdown menu*/

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #fff;
}


.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #FDB45E;
  padding-left: 0;
}


.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #fff;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #FDB45E;
}
/*Edson*/
.nav>li>a:hover{
  color: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
   background-color: #333; 
}
 /*fim*/
.fa-angle-down{
  padding-left: 5px; 
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*************************
*******Produtos******
**************************/
#products p {
	font-family: 'Nexa', sans-serif;
	font-size: 12px;
	text-align:justify;
	text-transform:uppercase;
	line-height:2.3em;}
  
#products h2 {
	font-family: 'Nexa', sans-serif;
	font-size:36px;
	color:#333;}
	
.btn-products {
	background:#333;	
	width:256px;
	height:57px;
	border-radius: 0;
	color:#d2ae6d;
	font-size:24px;
	margin-top:15px;
	padding-top:12px;
	margin-left:0;
	margin-right:0;}
	
.btn-products:hover{
	background:#333;
	width:256px;
	height:57px;
	border-radius: 0;
	color:#FFF;}
	
.section-products {
	margin-bottom:50px;}
	
/*************************
*******Depoimentos******
**************************/

.section-testimonials {
	margin-bottom:50px;}
	
.testimonials-partners {
	height:200px;}
	
#testimonials p {
	font-family: 'Nexa', sans-serif;
	font-size: 12px;
	text-align:center;
	text-transform:uppercase;
	line-height:1.9em;
	margin-bottom:20px;}
  
#testimonials h2 {
	font-family: 'Nexa', sans-serif;
	font-size:24px;
	color:#333;}
	
.btn-testimonials {
	width:50%;
	border-radius: 0;
	border-top:solid 03px #CCC;
	border-bottom:solid 03px #CCC;
	font-size:14px;
	color:#CCC;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
	padding:05px 05px 05px 05px;
	text-transform:uppercase;
    bottom:0;
	left:15%;
	right:15%;}
	
.btn-testimonials:hover{
	border-radius: 0;
	border-top:solid 03px #d2ae6d;
	border-bottom:solid 03px #d2ae6d;
	color:#d2ae6d;}
	

	
/***********************
.recommended-item-control {
  position: absolute;
  top: 60%;
}

.recommended-item-control i {
  background: none repeat scroll 0 0 #d2ae6d;
  color: #FFF;
  font-size: 20px;
  padding: 4px 10px;
}

.recommended-item-control i:hover {
  background: #ccccc6;
}
**************************/
	
/*************************
*******Produtos******
**************************/
#products p {
	font-family: 'Nexa', sans-serif;
	font-size: 12px;
	text-align:justify;
	text-transform:uppercase;
	line-height:2.3em;}
  
#products h2 {
	font-family: 'Nexa', sans-serif;
	font-size:36px;
	color:#333;
	margin-top:80px;}
	
.section-products {
	margin-bottom:50px;}
	
/*************************
*******Contato******
**************************/
#contact p {
	font-family: 'Nexa', sans-serif;
	font-size: 12px;
	text-align:justify;
	text-transform:uppercase;
	line-height:2.3em;}
  
#contact h2 {
	font-family: 'Nexa', sans-serif;
	font-size:1.5em;
	color:#333;
	margin-top:80px;}
	
	
.btn-orc {
	background:#333;	
	width:256px;
	height:57px;
	border-radius: 0;
	color:#d2ae6d;
	font-size:24px;
	margin-top:15px;
	padding-top:12px;}
	
.btn-orc:hover{
	background:#333;
	width:256px;
	height:57px;
	border-radius: 0;
	color:#FFF;}
	
.section-products {
	margin-bottom:50px;}
	
#contact .form-control {
  background: transparent;
  border: 1px solid #d2ae6d;
  border-radius: 0px;
  box-shadow: none;
  font-size: 16px;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:hover {
  border-color: #999;
}

#contact input {height: 55px;}
/*Edson*/
#contact input[type='submit'] {
  font-family: 'Nexa', sans-serif;
  font-size:1em;
  background: #333;
  border: none;
  color: #d2ae6d;
  font-weight: 400;
  letter-spacing: 2px;
  transition: all 0.4s ease-in-out;
  margin-top: 10px;
  margin-bottom:40px;
}/*fim*/

#contact input[type='submit']:hover {
  background: #333;
  color: #FFF;
}

.maps {
	margin-bottom:40px;}	
/*************************
*******Footer CSS******
**************************/

#footer {
  background: #333;
}

.footer-top .col-sm-3{
  overflow: hidden;
}


.address {
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}
.address  img {
	width:100%;
}

.address p {
  color: #d2ae6d;
  font-family: 'Nexa', sans-serif;
  font-size: 14px;
  font-weight: 300;
  left: 25px;
  position: absolute;
  top: 50px;
}

.footer-widget {
  margin-bottom: 68px;
}

.footer-widget .container {
  padding-top: 15px;
}

.single-widget {
	text-align:center;}

.single-widget h2 {
  color: #d2ae6d;
  font-family: 'Nexa', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.bottom-line{
	width: 100px;
	height: 3px;
	background-color: #d2ae6d;
	border:none;
	margin-top:0;
	margin-bottom:40px;
}

.single-widget h2 i{
	margin-right:15px;
}

.single-widget ul li a{
	color: #d2ae6d;
	font-family: 'Nexa', sans-serif;
	font-size: 14px;
	font-weight: 300;
	padding: 5px 0;
}

.single-widget ul li a i {
  margin-right: 18px;
}

.single-widget ul li a:hover{
	background:none;
	color:#FFF;
}


.searchform input {
  color: #CCCCC6;
  font-family: 'Nexa', sans-serif;
  font-size: 14px;
  outline: medium none;
  padding: 9px;
  padding-bottom:10px;
  width: 160px;
  border:none;
}


.searchform button {
  background: #d2ae6d;
  border: medium none;
  border-radius: 0;
  margin-left: -3px;
  margin-top:0px;
  margin-bottom:0px;
  padding: 6px 18px;
  border:none;
}

.searchform button i {
  color: #333;
  font-size: 25px;
}

.searchform  button:hover, 
.searchform  button:focus{
	background-color:#CCC;
}

.searchform p {
  color: #d2ae6d;
  font-family: 'Nexa', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin-top: 25px;
}

.footer-bottom {
  background: #333;
  padding-top: 20px;
  height:60px;
  border-top: solid 01px #d2ae6d;
}

.footer-bottom p {
  color: #d2ae6d;
  font-family: 'Nexa', sans-serif;
  font-size:16px;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: #FFF;
  text-decoration:none;
}

.footer-bottom p span a:hover {
  color: #d2ae6d;
}


/*************************
******* Home ******
**************************/


#slider {
  padding-bottom: 45px;
}


.brands-name .nav-stacked li a {
  background-color: #FFFFFF;
  color: #696763;
  font-family: 'Nexa', sans-serif;
  font-size: 14px;
  padding: 5px 25px;
  text-decoration: none;
  text-transform: uppercase;
}

.brands-name .nav-stacked li a:hover{
  background-color: #fff;
  color: #696763;
}

h2.title {
  color: #FE980F;
  font-family: 'Nexa', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}


.nav-tabs  li.active  a, .nav-tabs  li.active  a:hover, .nav-tabs  li.active  a:focus {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #FE980F;
  border:0px;
  color: #FFFFFF;
  cursor: default;
  margin-right:0;
  margin-left:0;
}

.nav-tabs  li  a {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px 4px 0 0;
  line-height: 1.42857;
  margin-right:0;
}

/*************************
*******404 CSS******
**************************/

.logo-404 {
  margin-top: 60px;
}

.content-404 h1 {
  color: #363432;
  font-family: 'Nexa', sans-serif;
  font-size: 41px;
  font-weight: 300;
}

.content-404 img {
 margin:0 auto;
}

.content-404 p {
  color: #363432;
  font-family: 'Nexa', sans-serif;
  font-size: 18px;
}

.content-404  h2 {
  margin-top:50px;
}

.content-404 h2 a {
  background: #FE980F;
  color: #FFFFFF;
  font-family: 'Nexa', sans-serif;
  font-size: 44px;
  font-weight: 300;
  padding: 8px 40px;
}





/*************************
******* Contact CSS ********
**************************/

.contact-map {
  width: 100%;
  height: 385px;
  margin-bottom: 70px
}

.contact-info .heading, 
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page 
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 20px;
}


#contact-page .form-control:focus, 
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #FDB45E;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: #FE980F;
}


