
/* start page container */
@media (min-width: 768px) {
  .container {
    width: 700px;
  }  
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }  
}
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
  }
}
/* end page container */



/* start home */

.flexslider {
  margin-top:50px; /* coloquei essa margin-top negativa porque estava dando uma margem branca de 01px no topo do slider*/
  position: relative;
  zoom: 1;
  background-color: #371604;
  overflow: hidden;
  margin-bottom:40px;
}
.flexslider .slides {
  padding: 0;
  zoom: 1;
}
.flexslider .slides img {
  width: 100%;
  min-width: 320px;
  min-height: 206px;
  display: block;
}
.flexslider .slides > li {
  display: none;  
  padding: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.flexslider img {
  position: relative;
  width: 100%;
}
	
.slider-caption {
  color:#333;
  margin: 0;
  margin-top:180px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
#home h1 {
	font-family: 'Nexa Light', sans-serif;
	font-size:22px;
	text-transform:lowercase;
	font-weight:bold;
  }
#home h2
  {font-family: 'Nexa Light', sans-serif;
	font-size:26px;
	text-transform:none;
	font-weight:bold;
  }
*#home .btn
  {
    border-radius: 0;
	border-top:solid 03px #FFF;
	border-bottom:solid 03px #FFF;
	font-size:18px;
	color:#FFF;
	font-weight: bold;
    -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
	margin-top:20px;
	text-shadow: -1px 2px 2px #000;
  }
#home .btn:hover
  {   
	border-radius: 0;
	border-top:solid 03px #FFF;
	border-bottom:solid 03px #FFF;
	color:#FFF;
	text-shadow: -1px 1px 1px #000;
  }*


/* end home */

/* start simpletextrotator */
.rotating {
  display: inline-block;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
  -ms-transform: rotateX(0) rotateY(0) rotateZ(0);
  transform: rotateX(0) rotateY(0) rotateZ(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform-origin-x: 50%;
}

.rotating.flip {
  position: relative;
}

.rotating .front, .rotating .back {
  left: 0;
  top: 0;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.rotating .front {
  position: absolute;
  display: inline-block;
  -webkit-transform: translate3d(0,0,1px);
  -ms-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
}

.rotating.flip .front {
  z-index: 1;
}

.rotating .back {
  display: block;
  opacity: 0;
}

.rotating.spin {
  -webkit-transform: rotate(360deg) scale(0);
  -ms-transform: rotate(360deg) scale(0);
  transform: rotate(360deg) scale(0);
}

.rotating.flip .back {
  z-index: 2;
  display: block;
  opacity: 1;
  
  -webkit-transform: rotateY(180deg) translate3d(0,0,0);
  -ms-transform: rotateY(180deg) translate3d(0,0,0);
  transform: rotateY(180deg) translate3d(0,0,0);
}

.rotating.flip.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,0);
  -ms-transform: rotateX(180deg) translate3d(0,0,0);
  transform: rotateX(180deg) translate3d(0,0,0);
}

.rotating.flip.cube .front {
  -webkit-transform: translate3d(0,0,100px) scale(0.9,0.9);
  -ms-transform: translate3d(0,0,100px) scale(0.85,0.85);
  transform: translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube .back {
  -webkit-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -ms-transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateY(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}

.rotating.flip.cube.up .back {
  -webkit-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.9,0.9);
  -ms-transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
  transform: rotateX(180deg) translate3d(0,0,100px) scale(0.85,0.85);
}
/* end simpletextrotator */





@media only screen and (max-width: 1199px) {
  h1 { font-size: 30px; }
  h2 { font-size: 24px; }
}

/* start 768 media quires */
@media only screen and ( max-width: 768px ) {
  .navbar-header {
    padding-left: 15px;
  }
  h1 { font-size: 16px; }
  h2 { font-size: 18px; }

	#home{
		
	position: relative;
	}

  *#home .btn {
    width: 45%;
    height: 20%;
    padding: 4px;
	  position: absolute;
	  right: 25%;
	  bottom: 6px;
	
  }
	

span.blue {
  color: #39F;
  font-size: 0.6em;
  margin-bottom: 30px;
  padding:0;
	
}


#home h1{
    font-size: 0.8em;
    margin-bottom: 5px;
	margin:0;
	padding:0;

  }

  #home h2{
    font-size: 1.2em;
    margin: 0px;
	padding: 0;
	margin-bottom: 10px;
  }


.flexslider .slides img {
  width: inherit;

}


@media only screen and (max-width: 640px) {
  h1 { font-size: 16px; }
  h2 { font-size: 12px; }
  
  #home .btn {
    width: 48%;
    height: 20%;
    padding: 4px; 
	  position: absolute;
	  margin: 0 auto;
	  right: 25%;
	  bottom: auto;
  }
 
  .flexslider .slides img {
  width: inherit;
}




.blue {
  color: #39F;
  font-size: 0.6em;
}


}

/* start 360 media quires */
@media only screen and ( max-width: 360px ) {

 #home .btn {
    width: 50%;
    height: 20%;
    padding: 4px;
    margin-top: 5px; 

  }

  .coach img{
    width: 100%;
    padding: 5px;
  }
  
  .video-book{
	width:100%;
	padding:0 10px 0 10px;

  }

  .selo{
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.blue {
  color: #39F;
  font-size: 0.6em;
}

  .flexslider .slides img {
  width: inherit;
  
}
/* end 360 media quires */


